body {
    font-family: sans-serif;
     width: 800;
     text-align: center;
     margin: auto;
}
header{
    width: 800;
height: 200px;
background-color: #844B4B;
text-align: center;
}
nav{
    text-align: center;
    padding-top: 50px;
 
}
a{
    margin: 50px;
    text-decoration: none;
    font-size: 20px;
    color: black;

}
a:hover{
    color:white;
}
h1{
    text-align: center;
}
.phototop{
    width: 400px;
    height: 400px;
    display: flex;

}
h2{
    text-align: center;
}
.star{
    display: flex;
    width: 800px;
}
p{
    display: flex;

    width: 500px;
    text-align: center;
}
.photo{

width:300px;
}
.photo:hover{

width:500px;
}
.catalog{
width:1000px;
}
.icon{
    width:100px
}
.icons{
    display: flex;
}
footer{
    background-color: #844B4B;
}